.top-header {
  @extend %section;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.page-header-container {
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
}
