.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-link {
  margin-right: 93px;
}

.logo-black {
  color: #000000;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
}

.logo-white {
  color: var(--background-color);
}
